:root{
    --primary_color: black;
    --secondary_color: white;

}

html {
    margin: 0;
    padding: 0;

}

body{
    background-color: var(--primary_color);
}
.title{
    display: flex;
    justify-content: center;
}

.title h1{
    color:var(--secondary_color)
}
.div_parent{
    display: flex;
    justify-content: space-around;
}
.div_parent div{
    color:var(--secondary_color)
}
