:root{
    --primary_color: #000000;
    --secondary_color: #252222;
    --third_color: #000000;
    --text_color: white;
}


.oswald_text {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body{
    margin: 0;
    background-color: var(--primary_color);
}

html {
    margin: 0;
    padding: 0;
}

.title{
    display: flex;
    justify-content: center;
    color:var(--text_color);
    background-color:var(--secondary_color)
}

.title img{
    max-width: 5%;
    max-height: 100%;
}

.div_parent{
    display: flex;
    justify-content: center;
    color:var(--text_color)
}

.section_title{
    display:flex;
    justify-content: center;
    color:var(--text_color)
}

.dashboard_div_parent{
    margin: 2%;
    width: 30%;
    padding: 1%;
    background-color: var(--secondary_color);
}

.dashboard_div{
    background-color: var(--third_color);
    padding: 1%;
    border: solid white 1px;
    height: -webkit-fill-available;
}

.div_parent_scd_part{
    display: flex;
    justify-content: center;
    color:var(--text_color)
}

.dashboard_div_files{
    background-color: var(--third_color);
    padding: 1%;
    border: solid white 1px;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.files_table{
    max-width: fit-content;
    color:var(--text_color);
}